{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
<div class="form-text">
    <h1>my profile</h1>
    <br />
    {% comment %} <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.avatar }}
        <input type="submit" value="Upload avatar">
    </form> {% endcomment %}

    <form action="{% url 'cofferupApp:profile'  %}" method='POST' >
    <input type="hidden" name="actual_method" value="PATCH">
    {% csrf_token %}

        <fieldset class="form-group">
            <label for="image_url">image url: </label>
            <input class="form-control" id="image_url" type="url" name="image_url" value="{{contributor.image_url}}"}>
        </fieldset>
        <fieldset class="form-group">
            <label for="first_name">first name: </label>
            <input class="form-control" id="first_name" type="text" name="first_name" value={{user.first_name}}>
        </fieldset>
        <fieldset class="form-group">
            <label for="last_name">last name: </label>
            <input class="form-control" id="last_name" type="text" name="last_name" value={{user.last_name}}>
        </fieldset>
        <fieldset class="form-group">
            <label for="username">username: </label>
            <input class="form-control"  id="username" type="text" name="username" value={{user.username}}>
        </fieldset>
        <fieldset class="form-group">
            <label for="email">email: </label>
            <input class="form-control" id="email" type="text" name="email" value={{user.email}}>
        </fieldset>
        <br />
        <button class="btn" type="submit">Submit Changes</button>
    </form>
</div>
{% endblock %}