{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
    <form action="{% url 'cofferupApp:profile'  %}" method='POST'>
    <input type="hidden" name="actual_method" value="PATCH">
    {% csrf_token %}
        <fieldset>
            <label for="first_name">First Name: </label>
            <input id="first_name" type="text" name="first_name" value={{user.first_name}}>
        </fieldset>
        <fieldset>
            <label for="last_name">Last Name: </label>
            <input id="last_name" type="text" name="last_name" value={{user.last_name}}>
        </fieldset>
        <button type="submit">Add It</button>
    </form>
{% endblock %}