{% extends 'shared/base.html' %}


{% load static %}


{% block content %}

<div class="welcome-text">
    <h1>{{coffer.name}}</h1> 
    <p>open date: {{coffer.date_start}}</p>
    <p>close date: {{coffer.date_end}}</p>
    <p>{{coffer.description}}</p>

    <h2>balance: {{coffer.sum}}</h2>

    {% for line in coffer.contributor_sums%}
    <h3>{{line.first_name}} {{line.last_name}}     {{line.total}}</h3>
    {% endfor %}

    {% comment %} put last 10 transactions here {% endcomment %}
</div>

{% endblock %}
