{% extends 'shared/base.html' %}

{% load static %}

{% block content %}

<div class="list-text">
    <button class="btn btn-lg create-button"><a href="{% url 'cofferupApp:coffer_form' %}">create new coffer</a></button>

    <h1>join a coffer</h1>

        <div class="flexCol">
        {% for coffer in all_coffers %}
            <div>
                <a href = {% url 'cofferupApp:coffer' coffer.id %}>
                <span class="div-name"><h3>{{coffer.name}}</h3></span></a> 
                ({{coffer.description}})
                <p>will close {{coffer.date_end}}</p>
                
                <form action="{% url 'cofferupApp:my_coffers' coffer.id %}" method="post">
                {% csrf_token %}
                <button class="btn button-add" type="submit">+ my coffers</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
