{% extends 'shared/base.html' %}

{% load static %}

    {% block content %}
    <div class="list-text">
        <h1>my open coffers</h1>

        <div class="flexCol">
        {% for coffer in my_open_coffers %}

            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
            <span class="div-name"><h3>{{coffer.coffer.name}}</h3></span></a> 
            <div class="flexRow">
                <div class="inner-div">   
                    ({{coffer.coffer.description}})
                    <p>will close {{coffer.coffer.date_end}}</p>
                    <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
                    <input type="hidden" name="actual_method" value="DELETE">
                    {% csrf_token %}

                    <button class="btn" type="submit">- my coffers</button>
                    </form>
                </div>
                <div class="inner-div-2">
            <form action="{% url 'cofferupApp:contribution_list' coffer.id %}" method='post'>
            {% csrf_token %}
                <fieldset>
                    <label for="amount">amount (cents): </label>
                    <input id="amount" type="number" step="25" name="amount">
                </fieldset>
                <fieldset>
                    <label for="description">description: </label>
                    <input id="description" type="text" name="description">
                </fieldset>
                <button class="btn" type="submit">+ contribution</button>
            </form>
        <script>
                alert(message)
        </script>


                </div>
            </div>

        {% endfor %}
        </div> 

        <h1>my future coffers</h1>        
        <div class="flexCol">
        {% for coffer in my_future_coffers %}
            <div>
            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
           <span class="div-name"><h3>{{coffer.coffer.name}}</h3></span></a> 
            ({{coffer.coffer.description}})
            <p>will close {{coffer.coffer.date_end}}</p>
            <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="DELETE">
            {% csrf_token %}

            <button class="btn" type="submit">- my coffers</button>
            </form>
            </div>
        {% endfor %}
        </div> 

        <h1>my closed coffers</h1>        
        <div class-"flexCol">
        {% for coffer in my_closed_coffers %}
            <div>
            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
           <span class="div-name"><h3>{{coffer.coffer.name}}</h3></span></a> 
            ({{coffer.coffer.description}})
            <p>will close {{coffer.coffer.date_end}}</p>
            
            {% comment %} <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="DELETE">
            {% csrf_token %}

            <button class="btn" type="submit">- my coffers</button>
            </form> {% endcomment %}

            <form action="{% url 'cofferupApp:my_settled_coffers' coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="PATCH">
            {% csrf_token %}

            <button class="btn" type="submit">$ coffer</button>
            </form>

            </div>
        {% endfor %}
        </div>
    </div>
    {% endblock %}

