{% extends 'shared/base.html' %}

{% load static %}

    {% block content %}
    <div class="list-text">
        <h1>my open coffers</h1>
        <ol>
        {% for coffer in my_open_coffers %}
            <li>
            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
            <h3>{{coffer.coffer.name}}</h3></a> 
            ({{coffer.coffer.description}})
            <p>will close {{coffer.coffer.date_end}}</p>
            <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="DELETE">
            {% csrf_token %}

            <button class="btn" type="submit">- my coffers</button>
            </form>

            <form action="{% url 'cofferupApp:contribution_list' coffer.id %}" method='post'>
            {% csrf_token %}
                <fieldset>
                    <label for="amount">amount: </label>
                    <input id="amount" type="number" name="amount">
                </fieldset>
                <fieldset>
                    <label for="descrption">description: </label>
                    <input id="description" type="text" name="description">
                </fieldset>
                <button class="btn" type="submit">+ contribution</button>
            </form>

            </li>
        {% endfor %}
        </ol> 
                <h1>my future coffers</h1>        
                <ol>
        {% for coffer in my_future_coffers %}
            <li>
            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
            <h3>{{coffer.coffer.name}}</h3></a> 
            ({{coffer.coffer.description}})
            <p>will close {{coffer.coffer.date_end}}</p>
            <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="DELETE">
            {% csrf_token %}

            <button class="btn" type="submit">- my coffers</button>
            </form>
            </li>
        {% endfor %}
        </ol> 
        <h1>my closed coffers</h1>        
                <ol>
        {% for coffer in my_closed_coffers %}
            <li>
            <a href = {% url 'cofferupApp:coffer' coffer.coffer.id %}>
            <h3>{{coffer.coffer.name}}</h3></a> 
            ({{coffer.coffer.description}})
            <p>will close {{coffer.coffer.date_end}}</p>
            <form action="{% url 'cofferupApp:my_coffers' coffer.coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="DELETE">
            {% csrf_token %}

            <button class="btn" type="submit">- my coffers</button>
            </form>

            <form action="{% url 'cofferupApp:my_settled_coffers' coffer.id %}" method="POST">
            <input type="hidden" name="actual_method" value="PATCH">
            {% csrf_token %}

            <button class="btn" type="submit">$ coffer</button>
            </form>

            </li>
        {% endfor %}
        </ol> 
    </div>
    {% endblock %}

