{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <link rel="icon" type="image/png" href="https://res.cloudinary.com/anymouse/image/upload/v1584581292/CofferUp/Coff_ErUp-logos_transparent_zslip8.png">
        <title>CofferUp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'home.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet">

    </head>

    <body>
    {% comment %} <img src="https://res.cloudinary.com/anymouse/image/upload/v1584581330/CofferUp/CoffErUp-logos_black_zmnxcy.png" alt="CofferUp Logo"> {% endcomment %}
        {% if user.is_authenticated %}
            <nav id ="site-nav">
                <ul class="navList">
                    <li class="navList__route nav-non-logo"><a href="{% url 'cofferupApp:home' %}"><img class="nav-bar-logo" src="https://res.cloudinary.com/anymouse/image/upload/v1584581286/CofferUp/Coff_ErUp-logos_black_esz9zx.png" alt="home"></a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:my_coffers' %}">my coffers</a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:coffers'%}">join a coffer</a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:my_settled_coffers'%}">settled coffers</a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:profile'%}">my profile</a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:logout'%}">logout</a></li>
                </ul>
            </nav>
        
        {% else %}
            <nav id ="site-nav">
                <ul class="navList">
                    <li class="navList__route"><a href="{% url 'cofferupApp:home' %}"><img class="nav-bar-logo" src="https://res.cloudinary.com/anymouse/image/upload/v1584581330/CofferUp/CoffErUp-logos_black_zmnxcy.png" alt="home"></a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:login'%}">login</a></li>
                    <li class="navList__route"><a href="{% url 'cofferupApp:user_register'%}">register</a></li>
                </ul>
            </nav>
        
        {% endif %}

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>